.flex-column-direction{
    display: flex;
    flex-direction: column;
}

#login-container{
    width: 100%;
    height: 100vh;
    background-color: var(--color-primary);
    padding-top: .3rem;
}

main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main > h1{
    margin: 6rem 0 2rem 0;
    color: #fff;
}

.container-login{
    width: 450px;
    height: 300px;
    background-color: #fff;
    margin-top: 1rem;
    overflow: hidden;
    border-radius: 10px;
    padding: 1.2rem;
    position: relative;
}
.container-login h3{
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: var(--color-text-primary);
}

form{
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    font-size: 1.2rem;
}
#usuario{
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}
input{
    width: 250px;
    margin-top: 0.5rem;
    padding: 0.4rem 0.4rem 0.4rem 0rem;
    outline: none;
    border: 0;
    font-size: 16px;
    color: #7f7f7f;
}
#button{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 1.2rem;
}
input[type="button"]{
    background-color: var(--color-secondary);
    border: 2px solid var(--color-secondary);
    width: 100px;
    color: #fff;
    margin: 0;
    cursor: pointer;
    transition: all ease-in 0.2s;
}
input[type="button"]:hover{
    background-color: white;
    color: var(--color-secondary);
}
.images > img{
    width: 110px;
    height: 100px;
    position: absolute;
    right: 1rem;
    top: 6rem;
}
#registro-cuenta{
    margin-top: 1rem;
    color: white;
}
#registro-cuenta > a{
    color: white;
}