.flex-column-direction{
    display: flex;
    flex-direction: column;
}

#login-container{
    width: 100%;
    height: 100vh;
    background-color: var(--color-primary);
    padding-top: .3rem;
}

main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main > h1{
    margin: 6rem 0 2rem 0;
    color: #fff;
}

.container-login{
    width: 450px;
    height: 300px;
    background-color: #fff;
    margin-top: 1rem;
    overflow: hidden;
    border-radius: 10px;
    padding: 1.2rem;
    position: relative;
}
.container-login h3{
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: var(--color-text-primary);
}

form{
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    font-size: 1.2rem;
}
#usuario{
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}
input{
    width: 250px;
    margin-top: 0.5rem;
    padding: 0.4rem 0.4rem 0.4rem 0rem;
    outline: none;
    border: 0;
    font-size: 16px;
    color: #7f7f7f;
}
#button{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 1.2rem;
}
input[type="button"]{
    background-color: var(--color-secondary);
    border: 2px solid var(--color-secondary);
    width: 100px;
    color: #fff;
    margin: 0;
    cursor: pointer;
    transition: all ease-in 0.2s;
}
input[type="button"]:hover{
    background-color: white;
    color: var(--color-secondary);
}
.images > img{
    width: 110px;
    height: 100px;
    position: absolute;
    right: 1rem;
    top: 6rem;
}
#registro-cuenta{
    margin-top: 1rem;
    color: white;
}
#registro-cuenta > a{
    color: white;
    padding: 0.2rem;
    text-decoration: none;
    border: 1px solid white;
    transition: all ease-in-out 0.2s;
}
#registro-cuenta > a:hover{
    background-color: white;
    color: var(--color-primary);
}



@keyframes rotar {
    0%{
        transform: rotate(0deg);
    }
    20%{
        transform: rotate(70deg);
    }
    40%{
        transform: rotate(50deg);
    }
    60%{
        transform: rotate(210deg);
    }
    80%{
        transform: rotate(190deg);
    }
    100%{
        transform: rotate(360deg);
    }    
}

@keyframes mostrar {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }    
}

.show{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    animation-name: mostrar;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode:forwards;
    animation-play-state: running;
}
.hide{
    display: none;
    opacity: 0;
}
.capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-color: rgba(255, 255, 255, 1);
}
.paused{
    animation-play-state: paused;
}
.icon-load{
    animation-name: rotar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode:forwards;
}