
.mostrar-agregar-pro{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ocultar-agregar-pro{
    display: none;
}

.modal-ingresar-producto{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

.form-mi-cocina{
    width: 450px;
    height: 490px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-ingresar-producto{
    width: 95%;
    height: 95%;
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 5px;
    justify-content: center;
    overflow: hidden;
}
.form-ingresar-producto > label{
    font-size: 1.2rem;
    color: #18171c;
    margin-bottom: 1rem;
}
.form-ingresar-producto > input{
    outline: none;
    padding: 0 0.5rem 0.5rem 0;
    width: 100%;
    color: #7f7f7f;
    font-size: 1.2rem;
    border: none;
    border-bottom: 1px solid rgba(24, 23, 28, 0.466);
    margin-bottom: 1rem;
}

#close-modal-ingresar{
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.3rem 0.5rem;
    background-color: var(--color-primary);
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

#button-agregar-pro-cocina{
    width: 40%;
    border: 2px solid var(--color-secondary);
    padding: 0.5rem;
    font-size: 1.2rem;
    color: white;
    align-self: center;
    margin-top: 1rem;
    background-color: var(--color-secondary);
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

#button-agregar-pro-cocina:hover{
    background-color: transparent;
    color: var(--color-secondary);
}